<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="/content/site.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrap-all">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Xamarin Barcode Sample</a>
            </div>
        </nav>
        <div class="container-main" id="mainContent">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
